@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}
main {
    color: white;
    font-family: 'Poppins', sans-serif;
    
}

nav {
    background-color: black;

}
.aperture {
    padding: 30px;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aperture ul{
    gap: 40px;
    display: flex;
    align-items: center;
    list-style: none;

}

.btn {
    padding: 10px 20px;
    background-color: white;
    color: black;
    border-radius: 15px;
}
header {
    display: flex;
    position: relative;
}
header img{
    width: 100%;
    position: relative;
    height: 100%;

}

.studios {
    position: absolute;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 453px;
    width: 600px;
    height: 209px;
    margin-bottom: 14px;
}

.studios__subtitle {
    text-transform: uppercase;
    color: #C0C0C0;
}

.stuidos p {

    color: white;
    letter-spacing: 2px;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

}

.studios h1 {
    margin-bottom: 18px;
color: white;
    font-size: 54px;
font-weight: 400;
line-height: 59px;
letter-spacing: 0em;
text-align: center;

}

.what {
    padding: 120px;
    background-color: black;
    color: white;
}

.what__item {
    margin-bottom: 40px;

}
.what__title {
font-size: 40px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
margin-bottom: 15px;
text-align: center;

}
.what__subtitle {
font-size: 23px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
.columns {
    display: flex;
    flex-wrap: wrap;
    min-width: 1200px;
    justify-content: center;
    

    
    
    
    
    
    
}
.column {
    position: relative;
    margin: 16px;
    width: 576px;
    height: 600px;
}
.column__items {
    position: absolute;
    bottom: 20px;
    left: 20px;
    
}
.column__title {
    text-transform: uppercase;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;
margin-bottom: 10px;

}
.column__subtitle {
    color: #C0C0C0;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 10px;

}
.column__btn {
    background-color: white;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 143px;
    border-radius: 15px;
    margin-top: 7px;
}

.column__btn img {
    margin: 5px;
}

.sunset {
    width: 100%;
    position: relative;
    display: flex;
}

.sunset__bgimage{
    width: 100%;
}
.sunset__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 300px;
    height: 600px;
    top: 0;
    right: 150px;
}
.sunset__title {
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;
text-transform: uppercase;

    
}
.sunset__subtitle {
font-size: 14px;
font-weight: 400;
color: #C0C0C0;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.sunset__icons {
    display: flex;
    gap: 16px;
    position: absolute;
    bottom: 40px;
    right: 80px;
}


.tools {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    
}
.tools__items {
    padding: 40px;
    width: 500px;
    height: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tools__prev_title {
text-transform: uppercase;
    font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;

}
.tools__title {
    margin: 6px 0 14px 0;
font-size: 28px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;

}
.tools__subtitle {
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.tools__btn {
    background-color: white;
    display: flex;
    color: black;
    width: 152px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-top: 20px;

}

.tools__btn img {
margin: 5px;
}
.tools__img{
    display: flex;
}

.clients {
    padding: 120px;
    background-color: black;
}

.clients__top {
    margin-bottom: 40px;
}
.clients__title {
font-size: 40px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: center;
margin-bottom: 15px;

}
.clients__subtitle {
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;

}
.clients__bottom {
    padding: 45px;
    display: flex;
    justify-content: space-between;
}

.need {
    background-color: black;
    padding: 120px 420px;
}

.need__title {
font-size: 40px;
font-weight: 400;
line-height: 42px;
letter-spacing: 0em;
text-align: center;

}
.need__subtitle {
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
margin: 15px 0;

}
.need__btn {
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.4000000059604645px;
text-align: center;
background-color: white;
color: black;
display: flex;
justify-content: center;
align-items: center;
width: 155px;
margin: auto;
border-radius: 15px;


}

.need__btn img {
    margin: 5px;
}

footer {
    background-color: black;
    padding: 100px 136px;
}

.footer__items {
    display: flex;
    flex-wrap: wrap;
}
.footer__photographers {
    color: #C0C0C0;
    width: 457px;
    height: 200px;
}
.footer__photographers img {
    margin-bottom: 20px;
}
.footer__photographers p{
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}

.footer__business {
    margin-left: 252px;
    width: 220px;
    height: 200px;
}
.footer__title {
    color: #C0C0C0;
    margin-bottom: 7px;
    text-transform: uppercase;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;

}
.footer__subtitle {
    margin: 7px 0;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.footer__pages {
    width: 220px;
    height: 200px;
    margin-left: 16px;
}
.footer__rectangle {
    width: 100%;
    background-color: white;
    height: 2px;
    margin: 35px 0;
}
.footer__subscribe {
    width: 59%;
}


.footer__subscribe p {
    color: #C0C0C0;
    margin-top: 20px;
font-size: 13px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}


.footer__btn {
    display: flex;
    border-radius: 15px;
    width: 39%;
    height: 52px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;

}
.footer__btn p {
    display: flex;
    
    width: 63px;
    height: 30px;
    background-color: black;
    border-radius: 15px;
    margin-right: 6px;
}
.footer__aperture {
    color: #C0C0C0;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__aperture img {
    color: white;
    margin: 0 10px;
}